<config>
	<!--服务器地址-->
	<server_addr>x.x.x.x:xxxx</server_addr>
	<!--目标服务列表，可以配多个服务-->
	<services>
		<service>
			<!--服务名称-->
			<name>rdp</name>
			<!--与服务器端配置的key相同-->
			<key>1234abcd</key>
			<!--目标服务地址-->
			<service_addr>127.0.0.1:3389</service_addr>
			<!--始终保证与服务器间空闲连接的数量-->
			<pool_size>3</pool_size>
		</service>
		<!--
		<service>
			<key>5678</key>
			<service_addr>127.0.0.1:21</service_addr>
			<pool_size>3</pool_size>
		</service>
		-->
	</services>
</config>
